# Add Column using Expression
Copyright (c) Microsoft Corporation. All rights reserved.<br>
Licensed under the MIT License.

With Azure ML Data Prep you can add a new column to data with `Dataflow.add_column` by using a Data Prep expression to calculate the value from existing columns. This is similar to using Python to create a [new script column](./custom-python-transforms.ipynb#New-Script-Column) except the Data Prep expressions are more limited and will execute faster. The expressions used are the same as for [filtering rows](./filtering.ipynb#Filtering-rows) and hence have the same functions and operators available.
<p>
Here we add additional columns. First we get input data.

In [1]:
import azureml.dataprep as dprep

In [2]:
# loading data
dflow = dprep.auto_read_file('../data/crime-spring.csv')
dflow.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10498554,HZ239907,2016-04-15 23:56:00,007XX E 111TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,9,50,11,1183356.0,1831503.0,2016,2016-05-11 15:48:00,41.692834,-87.604319,"(41.692833841, -87.60431945)"
1,10516598,HZ258664,2016-04-15 17:00:00,082XX S MARSHFIELD AVE,890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,21,71,6,1166776.0,1850053.0,2016,2016-05-12 15:48:00,41.744107,-87.664494,"(41.744106973, -87.664494285)"
2,10519196,HZ261252,2016-04-15 10:00:00,104XX S SACRAMENTO AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,19,74,11,NaN,NaN,2016,2016-05-12 15:50:00,NaN,NaN,
3,10519591,HZ261534,2016-04-15 09:00:00,113XX S PRAIRIE AVE,1120,DECEPTIVE PRACTICE,FORGERY,RESIDENCE,False,False,...,9,49,10,NaN,NaN,2016,2016-05-13 15:51:00,NaN,NaN,
4,10534446,HZ277630,2016-04-15 10:00:00,055XX N KEDZIE AVE,890,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,False,...,40,13,6,NaN,NaN,2016,2016-05-25 15:59:00,NaN,NaN,

#### `substring(start, length)`
Add a new column "Case Category" using the `substring(start, length)` expression to extract the prefix from the "Case Number" column.

In [3]:
case_category = dflow.add_column(new_column_name='Case Category',
                                 prior_column='Case Number',
                                 expression=dflow['Case Number'].substring(0, 2))
case_category.head(5)

,ID,Case Number,Case Category,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10498554,HZ239907,HZ,2016-04-15 23:56:00,007XX E 111TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,...,9,50,11,1183356.0,1831503.0,2016,2016-05-11 15:48:00,41.692834,-87.604319,"(41.692833841, -87.60431945)"
1,10516598,HZ258664,HZ,2016-04-15 17:00:00,082XX S MARSHFIELD AVE,890,THEFT,FROM BUILDING,RESIDENCE,False,...,21,71,6,1166776.0,1850053.0,2016,2016-05-12 15:48:00,41.744107,-87.664494,"(41.744106973, -87.664494285)"
2,10519196,HZ261252,HZ,2016-04-15 10:00:00,104XX S SACRAMENTO AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,...,19,74,11,NaN,NaN,2016,2016-05-12 15:50:00,NaN,NaN,
3,10519591,HZ261534,HZ,2016-04-15 09:00:00,113XX S PRAIRIE AVE,1120,DECEPTIVE PRACTICE,FORGERY,RESIDENCE,False,...,9,49,10,NaN,NaN,2016,2016-05-13 15:51:00,NaN,NaN,
4,10534446,HZ277630,HZ,2016-04-15 10:00:00,055XX N KEDZIE AVE,890,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,...,40,13,6,NaN,NaN,2016,2016-05-25 15:59:00,NaN,NaN,

#### `substring(start)`
Add a new column "Case Id" using the `substring(start)` expression to extract just the number from "Case Number" column and then convert it to numeric.

In [4]:
case_id = dflow.add_column(new_column_name='Case Id',
                           prior_column='Case Number',
                           expression=dflow['Case Number'].substring(2))
case_id = case_id.to_number('Case Id')
case_id.head(3)

,ID,Case Number,Case Id,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10498554,HZ239907,239907.0,2016-04-15 23:56:00,007XX E 111TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,...,9,50,11,1183356.0,1831503.0,2016,2016-05-11 15:48:00,41.692834,-87.604319,"(41.692833841, -87.60431945)"
1,10516598,HZ258664,258664.0,2016-04-15 17:00:00,082XX S MARSHFIELD AVE,890,THEFT,FROM BUILDING,RESIDENCE,False,...,21,71,6,1166776.0,1850053.0,2016,2016-05-12 15:48:00,41.744107,-87.664494,"(41.744106973, -87.664494285)"
2,10519196,HZ261252,261252.0,2016-04-15 10:00:00,104XX S SACRAMENTO AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,...,19,74,11,NaN,NaN,2016,2016-05-12 15:50:00,NaN,NaN,

#### `col(column1) + col(column2)`
Add a new column "Total" to show the result of adding the values in the "FBI Code" column to the "Community Area" column.

In [5]:
dflow_total = dflow.add_column(new_column_name='Total',
                               prior_column='FBI Code',
                               expression=dflow['Community Area']+dflow['FBI Code'])
dflow_total.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,Total,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10498554,HZ239907,2016-04-15 23:56:00,007XX E 111TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,50,11,61,1183356.0,1831503.0,2016,2016-05-11 15:48:00,41.692834,-87.604319,"(41.692833841, -87.60431945)"
1,10516598,HZ258664,2016-04-15 17:00:00,082XX S MARSHFIELD AVE,890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,71,6,77,1166776.0,1850053.0,2016,2016-05-12 15:48:00,41.744107,-87.664494,"(41.744106973, -87.664494285)"
2,10519196,HZ261252,2016-04-15 10:00:00,104XX S SACRAMENTO AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,74,11,85,NaN,NaN,2016,2016-05-12 15:50:00,NaN,NaN,
3,10519591,HZ261534,2016-04-15 09:00:00,113XX S PRAIRIE AVE,1120,DECEPTIVE PRACTICE,FORGERY,RESIDENCE,False,False,...,49,10,59,NaN,NaN,2016,2016-05-13 15:51:00,NaN,NaN,
4,10534446,HZ277630,2016-04-15 10:00:00,055XX N KEDZIE AVE,890,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,False,...,13,6,19,NaN,NaN,2016,2016-05-25 15:59:00,NaN,NaN,

#### `col(column1) - col(column2)`
Add a new column "Subtract" to show the result of subtracting the values in the "FBI Code" column from the "Community Area" column.

In [6]:
dflow_diff = dflow.add_column(new_column_name='Difference',
                              prior_column='FBI Code',
                              expression=dflow['Community Area']-dflow['FBI Code'])
dflow_diff.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,Difference,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10498554,HZ239907,2016-04-15 23:56:00,007XX E 111TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,50,11,39,1183356.0,1831503.0,2016,2016-05-11 15:48:00,41.692834,-87.604319,"(41.692833841, -87.60431945)"
1,10516598,HZ258664,2016-04-15 17:00:00,082XX S MARSHFIELD AVE,890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,71,6,65,1166776.0,1850053.0,2016,2016-05-12 15:48:00,41.744107,-87.664494,"(41.744106973, -87.664494285)"
2,10519196,HZ261252,2016-04-15 10:00:00,104XX S SACRAMENTO AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,74,11,63,NaN,NaN,2016,2016-05-12 15:50:00,NaN,NaN,
3,10519591,HZ261534,2016-04-15 09:00:00,113XX S PRAIRIE AVE,1120,DECEPTIVE PRACTICE,FORGERY,RESIDENCE,False,False,...,49,10,39,NaN,NaN,2016,2016-05-13 15:51:00,NaN,NaN,
4,10534446,HZ277630,2016-04-15 10:00:00,055XX N KEDZIE AVE,890,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,False,...,13,6,7,NaN,NaN,2016,2016-05-25 15:59:00,NaN,NaN,

#### `col(column1) * col(column2)`
Add a new column "Product" to show the result of multiplying the values in the "FBI Code" column to the "Community Area" column.

In [7]:
dflow_prod = dflow.add_column(new_column_name='Product',
                              prior_column='FBI Code',
                              expression=dflow['Community Area']*dflow['FBI Code'])
dflow_prod.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,Product,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10498554,HZ239907,2016-04-15 23:56:00,007XX E 111TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,50,11,550,1183356.0,1831503.0,2016,2016-05-11 15:48:00,41.692834,-87.604319,"(41.692833841, -87.60431945)"
1,10516598,HZ258664,2016-04-15 17:00:00,082XX S MARSHFIELD AVE,890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,71,6,426,1166776.0,1850053.0,2016,2016-05-12 15:48:00,41.744107,-87.664494,"(41.744106973, -87.664494285)"
2,10519196,HZ261252,2016-04-15 10:00:00,104XX S SACRAMENTO AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,74,11,814,NaN,NaN,2016,2016-05-12 15:50:00,NaN,NaN,
3,10519591,HZ261534,2016-04-15 09:00:00,113XX S PRAIRIE AVE,1120,DECEPTIVE PRACTICE,FORGERY,RESIDENCE,False,False,...,49,10,490,NaN,NaN,2016,2016-05-13 15:51:00,NaN,NaN,
4,10534446,HZ277630,2016-04-15 10:00:00,055XX N KEDZIE AVE,890,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,False,...,13,6,78,NaN,NaN,2016,2016-05-25 15:59:00,NaN,NaN,

#### `col(column1) / col(column2)`
Add a new column "Quotient" to show the result of dividing the values in the "FBI Code" column by the "Community Area" column.

In [8]:
dflow_div = dflow.add_column(new_column_name='Quotient',
                             prior_column='FBI Code',
                             expression=dflow['Community Area']/dflow['FBI Code'])
dflow_div.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,Quotient,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10498554,HZ239907,2016-04-15 23:56:00,007XX E 111TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,50,11,4.545455,1183356.0,1831503.0,2016,2016-05-11 15:48:00,41.692834,-87.604319,"(41.692833841, -87.60431945)"
1,10516598,HZ258664,2016-04-15 17:00:00,082XX S MARSHFIELD AVE,890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,71,6,11.833333,1166776.0,1850053.0,2016,2016-05-12 15:48:00,41.744107,-87.664494,"(41.744106973, -87.664494285)"
2,10519196,HZ261252,2016-04-15 10:00:00,104XX S SACRAMENTO AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,74,11,6.727273,NaN,NaN,2016,2016-05-12 15:50:00,NaN,NaN,
3,10519591,HZ261534,2016-04-15 09:00:00,113XX S PRAIRIE AVE,1120,DECEPTIVE PRACTICE,FORGERY,RESIDENCE,False,False,...,49,10,4.900000,NaN,NaN,2016,2016-05-13 15:51:00,NaN,NaN,
4,10534446,HZ277630,2016-04-15 10:00:00,055XX N KEDZIE AVE,890,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,False,...,13,6,2.166667,NaN,NaN,2016,2016-05-25 15:59:00,NaN,NaN,

#### `col(column1) % col(column2)`
Add a new column "Remainder" to show the result of applying the modulo operation on the "FBI Code" column and the "Community Area" column.

In [9]:
dflow_mod = dflow.add_column(new_column_name='Remainder',
                             prior_column='FBI Code',
                             expression=dflow['Community Area']%dflow['FBI Code'])
dflow_mod.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,Remainder,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10498554,HZ239907,2016-04-15 23:56:00,007XX E 111TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,50,11,6,1183356.0,1831503.0,2016,2016-05-11 15:48:00,41.692834,-87.604319,"(41.692833841, -87.60431945)"
1,10516598,HZ258664,2016-04-15 17:00:00,082XX S MARSHFIELD AVE,890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,71,6,5,1166776.0,1850053.0,2016,2016-05-12 15:48:00,41.744107,-87.664494,"(41.744106973, -87.664494285)"
2,10519196,HZ261252,2016-04-15 10:00:00,104XX S SACRAMENTO AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,74,11,8,NaN,NaN,2016,2016-05-12 15:50:00,NaN,NaN,
3,10519591,HZ261534,2016-04-15 09:00:00,113XX S PRAIRIE AVE,1120,DECEPTIVE PRACTICE,FORGERY,RESIDENCE,False,False,...,49,10,9,NaN,NaN,2016,2016-05-13 15:51:00,NaN,NaN,
4,10534446,HZ277630,2016-04-15 10:00:00,055XX N KEDZIE AVE,890,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,False,...,13,6,1,NaN,NaN,2016,2016-05-25 15:59:00,NaN,NaN,